/* Plinth Laboratories footer style */
footer#plinthlab-footer {
  background: #000;
  color: #fff;
  font-size: 20px;
  font-weight: normal;
  font-family: sans-serif;
  padding: 20px;
  text-align: center;
}

footer#plinthlab-footer a {
  color: inherit;
  text-decoration: none;
}

footer#plinthlab-footer a:hover {
  text-decoration: underline;
}

footer#plinthlab-footer svg {
  stroke: #fff;
  height: 30px;
  vertical-align: middle;
  stroke-width: 14px;
  margin-right: 4px;
}
